tpl_c/*
log/
.project
.buildpath
packages/core/config/*
acp/packages/core/config/*
.settings/*
packages/core/cache/*
acp/tpl_c/*
acp/const.php
backup/*
files/cache/*
acp/files/cache/*
acp/backup/*
*.cache.php
nbprojec
nbproject
*~
