 /* RIGHT STYLE*/

.lazyTabContentsRight{
	float:left;
    width:auto;
    height:auto;
	display:none;
    background-color:#F0F8FF;
   }

         
.lazyTabHeaderRight {
	position:relative;
	top:0;
	right:0;
	background-color:#FFF;
	float:left; 
	overflow:hidden;
    width:35px;
    font-size:93%;
    line-height:normal;
    height:100%;
    padding-left:3px;
	border-left:1px solid #B9D3EE; 
}  

 /*ul*/
.lazyTabHeaderRight ul{
	background-color:#C6E2FF;
	margin:0;
	height:5000px;
    position:relative;
    padding:0 10px 0 0 ;
    list-style:none;
    border-left:1px solid #B9D3EE;
    font: 12px sans-serif;
}

.lazyTabHeaderRight li {
	position:relative;
 	background: transparent url("tabRight.png") no-repeat 100% 0;
    margin: 2px 0 0;
    padding: 10px 0 0 ;
    width:100%;
	overflow:hidden;
	cursor:pointer;
}
      
.lazyTabHeaderRight  a.lazyTabLink {      
	display:block;
    width:auto;
    background: transparent url("tabRight.png") no-repeat 100% 100%;
 	padding: 0 0 10px 0; 
    text-decoration:none;
    color:#43798B;
	outline: none;
}
      
.lazyTabHeaderRight .lazyTabLink span{
	display:block;
	padding:0 4px 16px 5px;
}
      
.lazyTabHeaderRight .active {
	position: relative;
    display:block;
    background: transparent url("tabRightActive.png") no-repeat 100% 0;
    padding-left:1px;
    margin-left:-1px;
    font-weight:bold;
}

.lazyTabHeaderRight li.active .lazyTabLink {
    background: transparent url("tabRightActive.png") no-repeat 100% 100%;
    margin-left:-1px;
}
      
.lazyTabHeaderRight li:hover{
	background: transparent url("tabRightHover.png") no-repeat 100% 0;
}

.lazyTabHeaderRight li:hover .lazyTabLink {
	background: transparent url("tabRightHover.png") no-repeat 100% 100%;
}

.lazyTabHeaderRight a.lazyTabClose{
	width:16px;
	height:16px;
	position:absolute;
	right:5px;
	bottom:5px;
	background:url("closebg.png") no-repeat  left top;
}


.lazyTabHeaderRight li:hover .lazyTabClose:hover,
.lazyTabHeaderRight li.hover .lazyTabClose.hover{
	background :url("closebg.png") no-repeat -15px 0px ; 
}

.lazyTabHeaderRight .lazyTabScroll{
	padding-top:17px;
	padding-bottom:17px;	
}

.lazyTabHeaderRight .scrollTop{
	margin-left:3px;
	background: #C6E2FF url(arrow.png) no-repeat scroll 0 center;
	border-left:1px solid #B9D3EE;
	border-bottom:1px solid #B9D3EE;
	height:17px;
	width:100%;
	background:
	cursor:pointer;
	right:0;
	top:0;
    cursor:pointer;
    position:absolute;
	z-index:10;
	opacity: 0.9;
	filter: alpha(opacity = 90);

}

.lazyTabHeaderRight .scrollBottom{
	background: #C6E2FF url(arrow.png) no-repeat scroll -60px center;
	border-left:1px solid #B9D3EE;
	border-top:1px solid #B9D3EE;
	margin-left:3px;
	height:17px;
	width:100%;
	cursor:pointer;
	position:absolute;
	right:0;
	bottom:0;
	z-index:10;		
	opacity: 0.9;
	filter: alpha(opacity = 90);
}

.lazyTabHeaderTop .disabled{
	opacity:0.5;
	filter:alpha(opacity=50);
}

.loading{
	border:1px solid gray;
	width:80px;
	height:40px;
	v-align:center;
	position:absolute;
	left: 50%;
	top:50%;
	margin-left:-40px;
	margin-top:-20px;
	background:url("loading.gif") no-repeat 0 center;
	padding-left:31px;
}

