/************************************************************************
-) Slider: only the following lines are necceassary for slider styling,
   rest of the css file styles the demo page
*************************************************************************/
.aviaslider{ 
height: 250px; 	/*this changes the height of the image slider*/
width: 900px;
overflow: hidden;
position: relative;
}

.aviaslider li, .aviaslider .featured{
display: block;
width: 100%;
height: 100%;
position: absolute;
top:0;
left:0;
z-index: 1;
}

.js_active .aviaslider li, .js_active .aviaslider .featured{
display:none;
}

.aviaslider img, .aviaslider a img, .aviaslider a{
border:none;
text-decoration: none;
}

.slidecontrolls{
margin:20px auto 0 auto;
position: relative;
float:left;
}

.slidecontrolls a{
height:20px;
width:18px;
display:block;
cursor: pointer;
background: transparent url(../img/controlls.png) center bottom no-repeat;
float:left;
outline: none;
}

.slidecontrolls a:hover, .slidecontrolls .active_item{
background: transparent url(../img/controlls.png) center top no-repeat;
}

.feature_excerpt{
width:350px;
position: absolute;
display: block;
bottom: 0;
left:0;
z-index: 2;
padding:14px 15px;
font-size: 11.5px;
line-height:1.5em;
cursor: pointer;
background: #000;
color: #fff;
}

.feature_excerpt strong{
display: block;
font-size: 15px;
padding-bottom: 3px;
}