<?php
/*
 * Copyright (c) 2010 Litotex
 * 
 * Permission is hereby granted, free of charge,
 * to any person obtaining a copy of this software and
 * associated documentation files (the "Software"),
 * to deal in the Software without restriction,
 * including without limitation the rights to use, copy,
 * modify, merge, publish, distribute, sublicense,
 * and/or sell copies of the Software, and to permit
 * persons to whom the Software is furnished to do so,
 * subject to the following conditions:
 * 
 * The above copyright notice and this permission notice
 * shall be included in all copies or substantial portions
 * of the Software.
 * 
 * THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND,
 * EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES
 * OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND
 * NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT
 * HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY,
 * WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
 * OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER
 * DEALINGS IN THE SOFTWARE.
 */
if(!defined('LITO_ROOT'))
	define('LITO_ROOT', $frontendRoot . 'acp/');
if(!defined('LITO_URL'))
	define('LITO_URL', $frontendUrl . 'acp/');
if(!defined('DATABASE_CONFIG_FILE'))
	define('DATABASE_CONFIG_FILE', LITO_ROOT . '../packages/core/config/database.conf.php');
if(!defined('HOOK_CACHE'))
	define('HOOK_CACHE', LITO_ROOT . '../packages/core/cache/acp_hook_cache.php');
if(!defined('PACKAGE_CACHE'))
	define('PACKAGE_CACHE', LITO_ROOT . '../packages/core/cache/acp_dependency_cache.php');
if(!defined('TPLMOD_CACHE'))
	define('TPLMOD_CACHE', LITO_ROOT . '../packages/core/cache/acp_tpl_modification_cache.php');
if(!defined('PACKAGE_PREFIX'))
	define('PACKAGE_PREFIX', 'acp');
if(!defined('LITO_ERROR_MODULE'))
	define('LITO_ERROR_MODULE', 'acp_errorPage');
