.permissions h1 {
	font-size: 14px;
}

.permissions h2 {
	font-size: 12px;
	background-color:#E78F08;
	color:#FFF;
	padding:3px;
	-moz-border-radius: 4px 4px 4px 4px;
	border: 1px solid #E78F08;
}

.permissions table {
	width:100%;
	border: none;
}

.permissions th {
	text-align:left;
}

.permissions  table .tr_header {

}

.permissions table .tr_permissions:hover {
	background-color: yellow;
}

.permissions .col_function {
	width:auto;
}
.permissions .col_access_allowed {
	width:80px;
}
.permissions .col_access_denied {
	width:80px;
}
.permissions .col_access_denied_complete {
	width:80px;
}
