/* ################################################## */
/* ###### Reset ##################################### */
/* ################################################## */

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, input, textarea, select {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	background: transparent;
}
body {
	line-height: 1;
	font-size: 100.01%;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after, q:before, q:after {
	content: '';
	content: none;
}

:focus {
	outline: 0;
}

ins {
	text-decoration: none;
}
del {
	text-decoration: line-through;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* ################################################## */
/* ###### CSS ####################################### */
/* ################################################## */

body {
	font: 12px "Trebuchet MS", Arial, Helvetica, sans-serif;
	color: #5A554E;
	background: url(../img/bg_body.png) repeat-x #303740;
}

#wrapper {
	margin: auto;
	width: 750px;
	background: #FFFFFF;
	margin-top: 100px;
	padding: 10px 10px 0px 10px;
	box-shadow:800px 800px #F00;
	-webkit-box-shadow: 5px 6px 11px #191719; /* webkit browser Schatten */ 
	-moz-box-shadow: 5px 6px 11px #191719; /* firefox Schatten */ 
	box-shadow: 5px 6px 11px #191719; /* Schatten */ 
}

/* ################################################## */
/* ###### Header #################################### */
/* ################################################## */

#header {
	height: 120px;
	background: url(../img/header.png) no-repeat;
}

/* ################################################## */
/* ###### Main ###################################### */
/* ################################################## */

#main {
	padding: 25px;
}

#leftcolumn {
	width: 174px;
	float: left;
	padding-left: 25px;
	padding-top: 10px;
	padding-right: 25px;
	border-right: 1px solid #ebe8e1;
}

#content {
	padding-left: 25px;
	float: left;
	border-right: 1px solid #ebe8e1;
}

#rightcolumn {
	width: 174px;
	float: right;
	padding-left: 25px;
	padding-top: 10px;
}

.both {
	clear: both;
}

/* ################################################## */
/* ###### Footer #################################### */
/* ################################################## */

#footer {
	height: 140px;
	background: url(../img/hg_footer.png) repeat-x;
	padding: 10px 10px 0 10px;
	margin-top: 30px;
	color: #4d565a;
}

/* ################################################## */
/* ###### Schriften ################################# */
/* ################################################## */

h1 {
	font-size: 32px;
}

h2 {
	font-size: 24px;
}

p, ol, ul, dl {
	margin-top: 0;
	text-align: justify;
	line-height: 2.2;
}