.acp_tplmods_container {
	min-width: 950px;
	min-height: 500px;
}

.acp_tplmods_container .acp_tplmods_framebox {

	overflow: hidden;
}

.acp_tplmods_container .acp_tplmods_framebox iframe {
	min-width: 950px;
	min-height: 500px;
}