label { display: inline-block;
 width: 100px; 
height: 12px;
}
legend { padding: 0.5em; }
fieldset fieldset label { display: block; }
#registerForm { width: 100%; }
#registerForm label { width: 250px; }
#registerForm label.error, #registerForm button.submit { margin-left:253px; }
#registerForm label.error {
	margin-left: 0px;
	width: auto;
	display:block;
padding: 0px 0px 0px 0px;
color: #ff0000;
height: 20px;
}
