

.acp_users {
	width: 800px;	
}

.acp_users form label {
	width: 150px;
	display: block;
	float: left;	
}

.acp_users #userTabs {
	width: 100%;	
}

.acp_users #successDiv {
	color: green;
	padding-bottom:10px;
}
.acp_users #errorDiv {
	color: red;
	padding-bottom:10px;
}

.acp_users table {
	width: 100%;
}

.acp_users table th {
	text-align: left;
}

.acp_users .users_groupblock {
	width: 250px;
	float: left;
}

.acp_users .users_groupblock span {
	font-size: 12px;
	text-decoration: underline;
	padding: 3px;
}

.droptrue, .droptrue { list-style-type: none; margin: 0; padding: 0; float: left; margin-right: 10px; background: #ccc; padding: 5px; width: 143px; cursor: move;}
.droptrue li, .droptrue li { margin: 5px; padding: 5px; width: 120px; }


#userFields img {
	padding-right: 5px;
}