

.acp_users {
	width: 800px;	
}

.acp_users form label {
	width: 150px;
	display: block;
	float: left;	
}

.acp_users #userTabs {
	width: 100%;	
}

.acp_users #successDiv {
	color: green;
	padding-bottom:10px;
}
.acp_users #errorDiv {
	color: red;
	padding-bottom:10px;
}

.acp_users table {
	width: 100%;
}

.acp_users table th {
	text-align: left;
}

