.NewsPost {
	margin-bottom:20px;
}
.NewsPostHeader {
	position:relative;
    background-color:#eeeeee;
	}
.NewsPostHeader a,
.NewsPostHeader a:visited,
.NewsPostHeader a:hover {
	text-decoration:none;
	color:#000;
	padding-left:10px;
font-size:16px;

}
.NewsPostTitleDate{
	float: left;
}
.NewsPostTitle {
	margin-left:100px;
	margin-right:100px;
	
}
.NewsPostKat{
	font-size:8px;
	text-align:right;
	float: right;
}
.NewsPostKat,
.NewsPostKat a,
.NewsPostKat a:visited,
.NewsPostKat a:hover {
	text-decoration:none;
	color:#000;
	font-size:12px;

}

.NewsPostTitle a,
.NewsPostTitle a:visited,
.NewsPostTitle a:hover {
	text-decoration:none;
	color:#ff00;
	
}
.NewsPostCategories {
	float:right;
	padding:3px 0 3px 25px;
	font-size:11px;
}

.NewsPostContent {
	font-family:Verdana,"BitStream vera Sans",Helvetica,Sans-serif;
	font-size:12px;
	line-height:145%;
	padding:0 25px 0 15px;
	overflow:hidden;
}
.NewsPostFooter {
	overflow:hidden;
	border-top:1px solid #d9d9d9;
	margin:20px 0px 0;
		
	}

.NewsPostComments {
	float:left;
	font-size:11px;
	color:#ff0000;
}
.NewsPostTags {
	float:left;
	width:355px;
	padding:2px 10px 3px 25px;
	font-size:11px;


	}
.NewsPostTags span {
	color:#aaa;
	font-style:italic;
}
.NewsPostReadMore {
	float:right;
	outline:none;
	font-size:11px;
	}
.NewsPostReadMore a,
.NewsPostReadMore a:visited,
.NewsPostReadMore a:hover {
	text-decoration:none;
	color:#000;
	
}	
.NewsPostFooter a,
.NewsPostFooter a:visited,
.NewsPostFooter a:hover {
	text-decoration:none;
	color:#000;
	
}

.NewsCommentList {
	border-top:1px solid #ddd;

	padding:10px 20px 0;
}

li.NewsComment {
	overflow:hidden;
}
li.NewsComment .avatar {
	margin-left:5px;
	width:60px;
}

li.NewsComment .author {
	float:left;
	width:80px;
	
	
}
li.NewsComment .author .name {
	text-align:left;
	font-size:11px;
	color:#666;
	margin-left:10px;
}
li.NewsComment .messageBox {
	margin-left:80px;
	background-color:#eee;
	border:1px solid #ddd;
	
	overflow:hidden;
	margin-bottom:10px;
}

li.NewsComment .messageBox .date {

	font-size:11px;
	color:#666;
	float:right;
	
}
li.NewsComment .messageBox .links {
	font-size:11px;
	float:right;
	margin-right:10px;
	height:20px;
	color:#aaa;
}
li.NewsComment .messageBox .links a {
	padding:0 3px;
}
li.NewsComment .messageBox .content {
	font-size:12px;

}
li.NewsComment .messageBox p {
	margin:0 0 10px;
}